<footer>
  <div class="footer-content">
      <!-- Links principais do footer -->
      <div class="footer-section">
          <div class="footer-links">
              <a href="#">© 2024 CEJUSite.</a>
              <a href="#">Termos de Serviço</a>
              <a href="#">Política de Privacidade</a>
              <!--<a href="/contato">Contato</a>-->
          </div>
          <!-- Elementos 1, 2 e 3 lado a lado -->
          <div class="footer-numbers">
              <p>12 de Setembro, N.º 892, Bairro Centro</p>
              <p> </p>
              <p>(47) 3460-0689</p>
          </div>
      </div>
  </div>
</footer>