p{
    font-size: 18px;
}
.btn-salvar {
  background-color: rgb(228, 157, 4); 
  border: 1px solid rgba(255, 255, 255, 0.18); 
  color: #ffffffd2;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  padding: 15px 30px;
  transition: background-color 0.2s ease, transform 0.2s ease;
  font-size: 20px;
  border-radius: 10px; 
  backdrop-filter: blur(10px); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.btn-salvar:hover {
  background-color: rgb(255, 136, 0); 
  transform: scale(1.05); 
}


  
  form {
    background: rgba(255, 255, 255, 0.938);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 16px );
    -webkit-backdrop-filter: blur( 16px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    margin-top: 50px ;
    margin-left: 20%;
    margin-right: 20%;
    padding: 50px;
    
    
  }

  .form-control{
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
  }

  form ::placeholder {
    color: rgb(0, 0, 0) ; 
}

h1{
  text-align: center;
}

#inputtextbox{
  height: 250px;
}