.noticia {
    margin-bottom: 20px;
    text-align: center; /* Centraliza o título */
    border-radius: 10px; /* Borda suavizada para a notícia */
    overflow: hidden; /* Garante que a borda suavizada seja aplicada corretamente */
    background-color: #f0f0f0; /* Cor de fundo para destacar a notícia */
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Padding interno para a linha de cada notícia */
}

.column {
    flex: 1;
    padding: 10px;
}

.column.image {
    max-width: 50%; /* Limita o tamanho da imagem */
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
    border-radius: 10px; /* Borda suavizada */
    overflow: hidden; /* Garante que a borda suavizada seja aplicada corretamente */
}

.column.image img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px; /* Aplica borda suavizada também na imagem */
}

.column.text {
    padding: 10px;
    max-width: 50%; /* Limita o tamanho do texto */
}

.titulo-centralizado {
    text-align: center;
    margin-bottom: 10px; /* Espaçamento entre o título e a imagem/texto */
}

/* Alternar layout das notícias */
.noticia:nth-child(even) .row {
    flex-direction: row-reverse; /* Inverte a ordem das colunas para notícias pares */
}

@media (max-width: 768px) {
    .column.image, .column.text {
        max-width: 100%; /* Ajusta para ocupar a largura total em telas menores */
    }
}