<div class="noticia" id="div1">
    <h1 class="titulo-centralizado">Centro da Juventude de Canoinhas Oferece Cursos Gratuitos para Jovens</h1>
    <div class="row">
        <div class="column image">
            <img src="assets/img/20240619_105717.jpg" alt="Imagem 1">
        </div>
        <div class="column text">
            <p>
                O Centro da Juventude de Canoinhas (CEJU) está disponibilizando cursos gratuitos para capacitar jovens e prepará-los para o mercado de trabalho. 
                Esta iniciativa visa oferecer novas oportunidades de desenvolvimento pessoal e profissional.
            </p>
            <p>
                Os cursos incluem Informática Básica, Escola das Emoções e Empreendedorismo. Em Informática Básica, os jovens aprenderão desde o uso de sistemas 
                operacionais até o domínio de softwares de escritório. A Escola das Emoções abordará inteligência emocional, controle de ansiedade e comunicação 
                assertiva, preparando os participantes para os desafios pessoais e profissionais. Já o curso de Empreendedorismo ensinará planejamento de negócios,
                gestão financeira e marketing, incentivando a criação de novos empreendimentos.
            </p>
            <p>
                O CEJU está comprometido em fornecer as ferramentas e conhecimentos necessários para que os jovens alcancem sucesso no mercado de trabalho. 
                Fique atento às novidades e aproveite essa oportunidade de crescimento pessoal.
            </p>
        </div>
    </div>
</div>
<div class="noticia" id="div2">
    <h1 class="titulo-centralizado">Posse do Conselho da Juventude é Realizada na Nova Sede do CEJU</h1>
    <div class="row">
        <div class="column image">
            <img src="assets/img/sala_professores.jpg" alt="Imagem 2">
        </div>
        <div class="column text">
            <p>
                No dia 20 de junho de 2024, foi realizada a posse do Conselho da Juventude (Conjuve) na nova sede do Centro da Juventude de Canoinhas (CEJU). 
                Durante o evento, foram eleitos o presidente, vice-presidente e secretário do conselho.
            </p>
            <p>
                A cerimônia de posse foi um momento significativo para a juventude local, destacando o papel crucial do Conjuve na representação dos interesses 
                e necessidades dos jovens da região. Durante a cerimônia, os membros do Conjuve elegeram seus novos líderes, que serão responsáveis por dirigir as 
                atividades do conselho e promover iniciativas que beneficiem os jovens de Canoinhas.
            </p>
            <p>
                O evento reuniu jovens representantes, autoridades e membros da comunidade, celebrando a importância da participação ativa dos jovens na construção 
                de um futuro melhor. Este momento histórico fortaleceu a voz da juventude e consolidou o apoio aos novos representantes do Conjuve.
            </p>
        </div>
    </div>
</div>
<div class="noticia" id="div3">
    <h1 class="titulo-centralizado">Outro Título</h1>
    <div class="row">
        <div class="column image">
            <img src="assets/img/sala_empreendedor.jpg" alt="Imagem 3">
        </div>
        <div class="column text">
            <p>Este é o texto ao lado da imagem 3.</p>
        </div>
    </div>
</div>