<div id="container">
    <img src="assets\img\totem.jpg" alt="Totem CEJU">
    <p>
        Bem-vindos ao CEJU (Centro de Juventude), um espaço dedicado ao desenvolvimento e empoderamento dos jovens. Nossa missão é preparar a próxima geração para os desafios do mercado de trabalho e incentivar o espírito empreendedor. Oferecemos cursos de empreendedorismo e computação, projetados para fornecer as habilidades e conhecimentos necessários para prosperar no mundo moderno.
        <br><br>
        No CEJU, acreditamos que cada jovem tem o potencial de fazer a diferença. Nossa equipe de profissionais qualificados está comprometida em proporcionar uma educação de alta qualidade e suporte contínuo para ajudar nossos alunos a alcançar seus objetivos. Além dos cursos, oferecemos orientação e recursos para que os jovens possam navegar com confiança pelo mercado de trabalho, preparando-os para entrevistas, desenvolvimento de carreira e gestão pessoal.
        <br><br>
        Estamos localizados no coração da comunidade, e nosso centro é um ambiente acolhedor onde os jovens podem aprender, crescer e se conectar com outros indivíduos que compartilham suas ambições. Venha descobrir como o CEJU pode ser o primeiro passo para um futuro brilhante e cheio de possibilidades. Junte-se a nós e faça parte de uma comunidade que valoriza a inovação, a educação e o desenvolvimento pessoal.
    </p>
</div>