#container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#container img {
    order: 1;
    max-width: 20%;
    padding-top:90px;
    margin-left: 200px;
    border-radius: 50px;
    

}
#container p {
    order: 2;
    max-width: 55%;
    text-align: right;
    margin-left: 20px;
}