<div class="container">
    <h1>Inauguração CEJU</h1>
    <p>É com grande alegria e satisfação que anunciamos a inauguração do Centro de Juventude (CEJU) no próximo dia 28 deste mês, às 10:00 horas. Este evento marcará o início de uma nova era de oportunidades para os jovens de nossa comunidade, oferecendo cursos e programas que visam capacitar e inspirar as futuras gerações.
        <br>
        O CEJU foi criado com a missão de proporcionar um ambiente acolhedor e estimulante, onde os jovens possam desenvolver suas habilidades, descobrir novos talentos e alcançar seus sonhos. Ofereceremos uma ampla variedade de cursos em diversas áreas, desde tecnologia e artes até empreendedorismo e desenvolvimento pessoal, todos ministrados por profissionais qualificados e dedicados.
        <br>
        Convidamos todos os membros da comunidade a se juntarem a nós nesta celebração especial. A cerimônia de inauguração contará com a presença de autoridades locais, educadores, alunos e suas famílias, além de uma série de atividades e apresentações preparadas com muito carinho para este momento único.
        <br>
        Esperamos por você no dia 28, às 10:00 horas, para celebrarmos juntos este importante passo em direção ao futuro de nossa juventude. O Centro de Juventude (CEJU) está de portas abertas para receber a todos com entusiasmo e compromisso, prontos para transformar vidas e construir um amanhã melhor.
        <br>
        <br>
        <strong>
        Data: 28 deste mês <br>
        Horário: 10:00 horas <br>
        Local: Centro de Juventude (CEJU) <br>
        <br>
    </strong>
        Venha fazer parte desta história e testemunhar o início de um projeto que fará a diferença na vida de muitos jovens. Contamos com sua presença!
    </p>
    <div class="iframe-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3580.421458926791!2d-50.39593412377195!3d-26.182964877089617!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94e7127cf5332cb7%3A0xbfa0652bf11c838e!2sR.%2012%20de%20Setembro%2C%20892%20-%20Centro%2C%20Canoinhas%20-%20SC%2C%2089460-138!5e0!3m2!1spt-BR!2sbr!4v1719423350074!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
